<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home
    body
        h1 HOME
        
        form(action="/dataTxt", method="post")
            input(type="text" name="txt")
            input(type="submit" name="제출")